<div class="container-fluid">
  <div class="row m-3">
    <h1>Stupid Coaching</h1>

    <h6>Ask your coach anything:</h6>

    <form action="/answer" method="get">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary mt-2">
    </form>
  </div>
</div>
